set editing-mode vi
set bell-style none

set show-mode-in-prompt on
# change cursor shape
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"
# add colored text indicator
#set vi-ins-mode-string \1\e[34;1m\2[i]\1\e[0m\2
#set vi-cmd-mode-string \1\e[33;1m\2[n]\1\e[0m\2

set colored-stats on
set visible-stats on

set completion-ignore-case on

set mark-directories on

set horizontal-scroll-mode off
set echo-control-characters off

$if mode=vi
  set keymap vi-insert
  "\C-p": history-search-backward
  "\C-n": history-search-forward
$endif
